# Ignore Conda environments
.conda/
env/
venv/

# Python cache/compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Large LIGO files
*.h5

# Orion's notebook
signal_inj_test_notebook.ipynb

# All Bilby outputs besides the necessary json files
*checkpoint_run.png
*checkpoint_stats.png
*checkpoint_trace_unit.png
*checkpoint_trace.png
*run_dynesty.pickle
*run_resume.pickle
*.out
*.gz